<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projectassyifa.dailyactivitybit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".container.MyApplication"
        android:allowBackup="true"
        android:exported="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_da"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_da_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyActivityBit"
        android:usesCleartextTraffic="true"
        tools:node="replace">
        <activity android:name=".screen.kegiatan.AddTypeActivity"></activity>
        <activity android:name=".screen.kegiatan.InsertDailyActivity" />
        <activity android:name=".screen.kegiatan.DetailKegiatan" />
        <activity android:name=".screen.kegiatan.ReportActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".screen.login.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/easyimage_filepaths" />
        </provider>
    </application>

</manifest>